.searchWelcome, .welcomeBanner { 
    text-align: center; 
    font-family: 'Patua One', cursive;
}

#emailTo, #emailBody, #emailFrom, #emailSubject{
    background-color: white; 
}

#welcomeNote { 
    width: 400px; 
    display: inline-block; 
    background-color: #f5f5f5; 
    padding: 15px; 
    border-radius: 10px; 
    font-family: 'Montserrat', sans-serif;


}

.welcomeDiv { 
    text-align: center; 
    margin-top: -5%;  
}

.resultTitle{
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 3.6rem;
    line-height: 1.25;
}



#emailSendButton, .closeModal{
width:100px;
text-align: center;
font-family:'Patua One', cursive;
font-size: 15px;
font-weight:none;
border:none;
}

.closeModal{
    font-weight:none !important;
}

#emailSendButton{
    background-color: #e81e17;
}

.closeModal{
    background-color: #ea9390;
}

#emailTo{
    color:#38425B;
}

#emailTo, #emailFrom, #emailSubject{
    margin-top:10px;
    
}

#emailBody{
margin-top:-5px;

}

textarea{
    min-height:10.5rem;
}