.invisible {
    display: none;
  }

.resultsBox {
    /* width: 80%;  */
    margin: 0 auto; 
  }

#resultsDiv {
  font-family: 'Montserrat', sans-serif;
  text-align: center; 
  padding:15px;
  margin:10px; 
  background-color: #38425B !important; 
  color: #FFFFFF;
  height:auto;
  width:100%
}

.emailTo {
display: none
}

.searchTitle { 
font-family: 'Patua One', cursive;

}

.card-body { 
background-color: #f5f5f5; 
}

.card-header {
  background-color: #38425B !important; 
 

}

#resultsHeader {
  background-color: #38425B;
  border-radius: 15px; 
}

.requestBtn {
  background-color: #38425B;
  color: white; 
  border-color: #38425B;

}

.requestBtn:hover { 
  background: #38425B !important; 
  border-color: #38425B
}

.requestBtn:visted {
  background: #38425B !important;
}

.requestBtn:active {
  background: #E81E17 !important;

}

#emailBody, #emailSubject, #emailFrom { 
  background: white; 
  color: #38425B; 
}

.noResults, .errorMessage {
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; 
}

