
.welcomeMsg { 
    font-family: 'Patua One', cursive;
    text-align: center;
    font-size: 120px !important; 
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 rgb(163, 163, 163),
    0 4px 0 #9b9a9a,
    0 5px 0 rgb(97, 97, 97),
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}


.subText{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin-top:50px;
    margin-bottom:100px;
}

.searchBtn, .registerBtn {
    background-color:#e81e17;
    border: solid 1px #e81e17;
    font-size: 15px; 
}

.signInBtn { 
    background-color:#e81e17;
    border: solid 1px #e81e17;
    font-size: 15px; 
}
.searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    margin-bottom:25px;
}

.registerBtn{
    margin-right:5px;
}

.registerBtn:hover, .signInBtn:hover, .searchBtn:hover { 
    background-color:#e81e17 !important;
    border: solid 1px #e81e17 !important;
}

.mainHeaders {
    font-family: 'Patua One', cursive;
    text-align: center; 
}

.signIn, .register {
    display: inline-block;
    align-items: center;
    justify-content: center;

}

.groupButtons {
    text-align: center; 
}

.pageContainers {
    min-height: 50px; 
    font-family: 'Montserrat', sans-serif;


};





