#categories{
    margin-top:25px;
}

#updateWallButton{
    margin-bottom:25px;
}

#updateStatus {
    text-align: center;
}

.row{
    margin:0 auto;
    margin-top: 25px;
    margin-left: -13px;
}

form{
    margin-left:20px
}

.jumbotron{
    height:375px;

}
